* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: #1d9bf0;
  overflow: hidden;
}

.todo-input {
  max-width: 300px;
  height: 50px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 10px 15px;
  position: relative;
}

.todo-input [type="text"] {
  border: none;

}

.todo-input [type="text"]:focus {
  outline: none;
}

.todo-input button {
  position: absolute;
  content: "";
  right: 10px;
  background-color: #3a62fe;
  border: none;
  color: #fff;
  border-radius: 50%;
  min-height: 40px;
}

.todo-input button:hover {
  cursor: pointer;
  background-color: #0830cc;
}
